<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- ****** Top Header Area Start ****** -->
<div class="top_header_area" style="">
    <div class="container" >
        <div class="row">
            <div class="col-5 col-sm-6">
                <!--  Top Social bar start -->
                <div class="top_social_bar">
					<a href="/main"><span style="font-size:25px">HOME</span></a>
                </div>
            </div>
            <!--  Login Register Area -->
            <div class="col-7 col-sm-6">
                <div class="signup-search-area d-flex align-items-center justify-content-end">
                    <div class="login_register_area d-flex">
                        <div class="login">
                            <a href="/book/list" style="font-size:18px">Books</a>
                        </div>
                        <div class="register">
                            <a href="register.html" style="font-size:18px">Community</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ****** Header Area End ****** -->
</body>
</html>