<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <!-- ****** Categories Area Start ****** -->
	<div
	     style="
	         background-image: url(img/banner.jpg);
	         background-size: cover;
	         background-position: center;
	         background-repeat: no-repeat;
	         width: 100%;
	         height: 600px;
	         color: white;
	         position:relative;
	     ">
	    <div
	        style="
	            position: absolute;
	            top: 50%;
	            left: 50%;
	            transform: translate(-50%, -50%);
	            color: white;
	            font-size: 64px;
	            font-weight: bold;
	            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
	            white-space: nowrap"
	        
	    >
	        WELCOME TO MOVIELAND
	    </div>
	</div>
	<div class="container h-100">
	    <div class="row h-100 align-items-center align-justify-center">
	        <div class="col-12">
	            <div class="text-center p-5">
	                <h1 class={"fw-light"} style="fontWeight:100;fontSize:60px">
	                    Best Seller
	                </h1>
	            </div>
	        </div>
	    </div>
	</div>
	<section class="categories_area clearfix" id="about" style="margin:0px;padding:0px">
	    <div class="container">
	        <div class="row">
                <div class="col-12 col-md-6 col-lg-3" th:each="vo:${list1}">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
						<div style="height:400px">
							<img th:src="${vo.poster}" alt=""
							    style="border-radius: 0"
							/>
						</div>

                        <div class="text-center" style="font-size:20px">
                            [[${vo.title}]]
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	</section>
	<div class="container h-100">
	    <div class="row h-100 align-items-center align-justify-center">
	        <div class="col-12">
	            <div class="text-center p-5">
	                <h1 class={"fw-light"} style="">
	                    Steady Seller
	                </h1>

	            </div>
	        </div>
	    </div>
	</div>
	<section class="categories_area clearfix" id="about" style="margin:0px;padding:0px">
	    <div class="container">
	        <div class="row">
	            <div class="col-12 col-md-6 col-lg-3" th:each="vo:${list2}">
	                <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
						<div style="height:400px">
							<img th:src="${vo.poster}" alt=""
							    style="border-radius: 0"
							/>
						</div>
	                    <div class="text-center" style="font-size:20px">
	                        [[${vo.title}]]
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
    <!-- ****** Blog Area End ****** -->

</body>
</html>